apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: hw3
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: ganesh0912/hw3-backend:v2
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        env:
        - name: DB_USER
          value: "survey_admin"

        - name: DB_PASSWORD
          value: "survey_admin"

        - name: DB_HOST
          value: "database-1.ckxy4q84w5hk.us-east-1.rds.amazonaws.com"

        - name: DB_PORT
          value: "3306"

        - name: DB_NAME
          value: "surveydb"

        - name: CORS_ORIGINS
          value: "http://localhost:5173,http://127.0.0.1:5500,null"
