apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: hw3
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: ganesh0912/hw3-frontend:latest
        imagePullPolicy: Always

        ports:
        - containerPort: 80
